{
  "presets": [
    [
      "env",
      {
        "targets": {
          "node": "4"
        }
      }
    ]
  ],
  "plugins": [
    "add-module-exports",
    "transform-object-rest-spread"
  ],
  "sourceMaps": "both"
}
